<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Mosproekkompleks</title>
</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <a class="header-logo__link" href="/">
                <img class="header-logo__icon" src="../../static/img/logo.png" alt="logo">
            </a>
            <form class="header-form form" action="" method="get">
                <input class="header-input input" type="text" placeholder="Поиск и фильтр">
                <button class="header-btn form-btn" type="submit"></button>
                <ul class="list"></ul>
            </form>
        </div>
    </header>
    <main class="main">
        <div class="sidebar">
            <nav>
                <ul class="sidebar-menu menu">
                    <li class="menu-li">
                        <a class="menu-link" href="#">
                            <img src="../../static/img/monitor.png" alt="">Рабочий стол</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link active" href="../dbServer/companies.html">
                            <img src="../../static/img/burger.png" alt="">Списки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/objects.html">
                            <img src="../../static/img/object.png" alt="">Объекты</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../court/courts.html">
                            <img src="../../static/img/court.png" alt="">Суд</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/email.html">
                            <img src="../../static/img/email.png" alt="">Email</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/mail.html">
                            <img src="../../static/img/post.png" alt="">Почта</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/sms.html">
                            <img src="../../static/img/sms.png" alt="">СМС</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/calls.html">
                            <img src="../../static/img/phone.png" alt="">Звонки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/analitycs.html">
                            <img src="../../static/img/analytics.png" alt="">Аналитика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/economy.html">
                            <img src="../../static/img/economycs.png" alt="">Экономика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/settings.html">
                            <img src="../../static/img/settings.png" alt="">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content content">
            <div class="about content-inner">
                <a class="about-prev prev" href="./companies.html">
                    <img src="../../static/img/arr-left.png" alt="">
                </a>
                <div class="content-wrap about-wrap">
                    <div class="about-left content-left">
                        <div class="top-item about-top__company">ООО “МАДЕЛОН”</div>
                        <div class="about-inner__info">
                            <p class="company-inner__id text">id: <span>658958</span></p>
                            <div class="tabs">
                                <div class="tabs-item text tabs-item--active" data-tabs="history">Основное</div>
                                <div class="tabs-item text" data-tabs="obj">Объекты</div>
                                <div class="tabs-item text" data-tabs="materials">Материалы</div>
                            </div>
                        </div>
                        <div class="about-inner__item history active" data-about="history">
                            <table class="history-table">
                                <tr>
                                    <td>
                                        <p class="text">ИНН</p>
                                    </td>
                                    <td>
                                        <p class="text">7703345160</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Юр. Адрес</p>
                                    </td>
                                    <td>
                                        <p class="text">107113, г. Москва, ул. Сокольнический Вал, д.
                                            8</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Должность руководителя</p>
                                    </td>
                                    <td>
                                        <p class="text">Генеральный директор</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">ФИО руководителя</p>
                                    </td>
                                    <td>
                                        <p class="text">Степанов Виталий Александрович</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Телефон</p>
                                    </td>
                                    <td>
                                        <p class="text">
                                            <a href="tel:74956033007">+74956033007</a><br>
                                            <a href="tel:74956033006">+74956033006</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Почта</p>
                                    </td>
                                    <td>
                                        <p class="text">
                                            <a href="mailto:info@madelon.ru">info@madelon.ru</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Сайт</p>
                                    </td>
                                    <td>
                                        <p class="text">
                                            <a href="//madelon.ru">http://madelon.ru</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Вид деятельности</p>
                                    </td>
                                    <td>
                                        <p class="text">82.99 деятельность по предоставлению прочих
                                            вспомогательных
                                            услуг
                                            для
                                            бизнеса, не включенная в другие группировки</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Оборот компании</p>
                                    </td>
                                    <td>
                                        <p class="text">212 тыс. руб.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Количество сотрудников</p>
                                    </td>
                                    <td>
                                        <p class="text">1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Дата регистрации компании</p>
                                    </td>
                                    <td>
                                        <p class="text">19 июня 2002 года</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Кол-во объектов в собственности</p>
                                    </td>
                                    <td>
                                        <p class="text">3</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Кол-во объектов в аренде</p>
                                    </td>
                                    <td>
                                        <p class="text">0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Кол-во ЗУ в собственности</p>
                                    </td>
                                    <td>
                                        <p class="text">0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text">Кол-во ЗУ в аренде</p>
                                    </td>
                                    <td>
                                        <p class="text">1</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="about-inner__item about-obj" data-about="obj">
                            <div class="about-obj__box">
                                <p class="text fw-600">Объект в собственности</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Российская Федерация, город Москва, вн.тер.г. муниципальный округ
                                    Сокольники, улица Сокольнический Вал, дом 8, помещение 7А/1</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Российская Федерация, город Москва, вн.тер.г. муниципальный округ
                                    Сокольники, улица Сокольнический Вал, дом 8, помещение 5А/1</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Российская Федерация, город Москва, вн.тер.г. муниципальный округ
                                    Сокольники, улица Сокольнический Вал, дом 8, помещение 2А/1</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text fw-600">Объект в аренде</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Объекты отсутствуют</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text fw-600">Земельный участок в собственности</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Объекты отсутствуют</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text fw-600">Земельный участок в аренде</p>
                            </div>
                            <div class="about-obj__box">
                                <p class="text">Российская Федерация, город Москва, вн.тер.г. муниципальный округ
                                    Сокольники, улица Сокольнический Вал, дом 8, помещение 7А</p>
                            </div>
                        </div>
                        <div class="about-inner__item about-materials" data-about="materials">
                            materials
                        </div>
                    </div>
                    <div class="about-right content-right">
                        <div class="about-inner__item history active" data-about="history">
                            <p class="top-item">История взаимодействия</p>
                            <div class="history-block content-block">
                                <p class="history-box text content-box">Июль, 2023</p>
                            </div>
                            <div class="history-item content-item">
                                <p class="history-date text content-date"><span>19.07.2023</span><span>11:20</span>
                                </p>
                                <p class="history-box text content-box">Исходящее письмо с
                                    <a href="mailto:rep123@mosproektkompleks.ru">rep123@mosproektkompleks.ru</a> на
                                    электронный
                                    ящик <a href="mailto:info@madelon.ru"> info@madelon.ru</a>
                                </p>
                            </div>
                            <div class="history-item content-item">
                                <p class="history-date text content-date"><span>19.07.2023</span><span>11:20</span>
                                </p>
                                <p class="history-box text content-box">Создано письмо для отправки на адрес:
                                    107113,
                                    г.
                                    Москва,
                                    ул. Сокольнический Вал, д. 8</p>
                            </div>
                        </div>
                        <div class="about-inner__item about-obj" data-about="obj">
                            <p class="top-item about-top__obj">Описание объекта</p>
                            <div class="about-wrapper">
                                <p class="about__item text">Кадастровый номер<span>77:03:0001001:2879</span>
                                </p>
                                <p class="about__item text">Вид объекта<span>Помещение</span></p>
                                <p class="about__item text">Вид права<span>Собственность</span></p>
                                <p class="about__item text">№ регистрации
                                    права<span>77-01/04-1023/2004-741</span></p>
                                <p class="about__item text">ФИО правообладателя<span>-</span></p>
                                <p class="about__item text">Название правообладателя<span>Общество с
                                        ограниченной ответственность “МАДЕЛОН”</span></p>
                            </div>
                            <button class="about-obj__btn main-btn">Открыть выписку объекта</button>
                        </div>
                        <div class="about-inner__item about-materials" data-about="materials">
                            <p class="top-item about-top__materials">Материалы</p>
                            <div class="about-wrapper">
                                <p class="about__item text">Кадастровый
                                    номер<span>77:03:0001001:2879</span>
                                </p>
                                <p class="about__item text">Вид объекта<span>Помещение</span></p>
                                <p class="about__item text">Вид права<span>Собственность</span></p>
                                <p class="about__item text">№ регистрации
                                    права<span>77-01/04-1023/2004-741</span></p>
                                <p class="about__item text">ФИО правообладателя<span>-</span></p>
                                <p class="about__item text">Название правообладателя<span>Общество с
                                        ограниченной ответственность “МАДЕЛОН”</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../static/script.js"></script>
</body>

</html>