<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Mosproekkompleks</title>
</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <a class="header-logo__link" href="/">
                <img class="header-logo__icon" src="../../static/img/logo.png" alt="logo">
            </a>
            <form class="header-form form" action="" method="get">
                <input class="header-input input" type="text" placeholder="Поиск и фильтр">
                <button class="header-btn form-btn" type="submit"></button>
            </form>
        </div>
    </header>
    <main class="main">
        <div class="overlay">
            <div class="popup"></div>
        </div>
        <div class="sidebar">
            <nav>
                <ul class="sidebar-menu menu">
                    <li class="menu-li">
                        <a class="menu-link" href="#">
                            <img src="../../static/img/monitor.png" alt="">Рабочий стол</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link active" href="../dbServer/companies.html">
                            <img src="../../static/img/burger.png" alt="">Списки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/objects.html">
                            <img src="../../static/img/object.png" alt="">Объекты</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../court/courts.html">
                            <img src="../../static/img/court.png" alt="">Суд</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/email.html">
                            <img src="../../static/img/email.png" alt="">Email</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/mail.html">
                            <img src="../../static/img/post.png" alt="">Почта</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/sms.html">
                            <img src="../../static/img/sms.png" alt="">СМС</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/calls.html">
                            <img src="../../static/img/phone.png" alt="">Звонки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/analitycs.html">
                            <img src="../../static/img/analytics.png" alt="">Аналитика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/economy.html">
                            <img src="../../static/img/economycs.png" alt="">Экономика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/settings.html">
                            <img src="../../static/img/settings.png" alt="">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content content">

        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/script.js"></script>
    <script src="../../static/col-resize.min.js"></script>
</body>

</html>