<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Mosproekkompleks</title>
</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <a class="header-logo__link" href="/">
                <img class="header-logo__icon" src="../../static/img/logo.png" alt="logo">
            </a>
            <form class="header-form form" action="" mediv class="lists-table__box" od="get">
                <input class="header-input input" type="text" placeholder="Поиск и фильтр">
                <button class="header-btn form-btn" type="submit"></button>
            </form>
        </div>
    </header>
    <main class="main">
        <div class="sidebar">
            <nav>
                <ul class="sidebar-menu menu">
                    <li class="menu-li">
                        <a class="menu-link" href="#">
                            <img src="../../static/img/monitor.png" alt="">Рабочий стол</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/companies.html">
                            <img src="../../static/img/burger.png" alt="">Списки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link active" href="../dbServer/objects.html">
                            <img src="../../static/img/object.png" alt="">Объекты</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../court/courts.html">
                            <img src="../../static/img/court.png" alt="">Суд</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/email.html">
                            <img src="../../static/img/email.png" alt="">Email</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/mail.html">
                            <img src="../../static/img/post.png" alt="">Почта</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/sms.html">
                            <img src="../../static/img/sms.png" alt="">СМС</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/calls.html">
                            <img src="../../static/img/phone.png" alt="">Звонки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/analitycs.html">
                            <img src="../../static/img/analytics.png" alt="">Аналитика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/economy.html">
                            <img src="../../static/img/economycs.png" alt="">Экономика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/settings.html">
                            <img src="../../static/img/settings.png" alt="">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content content">
            <div class="lists">
                <div class="lists-table table" id="table">
                    <div class="lists-table__col">
                        <div class="lists-table__box lists-table__box-name">
                            <div class="filter-col">
                                <ul class="filter-col__list">
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" disabled checked>
                                            <span class="text">Адрес объекта</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col2">
                                            <span class="text">Округ</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col3">
                                            <span class="text">Назначение объекта</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col4">
                                            <span class="text">Кадастровый номер</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col5">
                                            <span class="text">Площадь объекта, м2</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col6">
                                            <span class="text">Этажность</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col7">
                                            <span class="text">Вид объекта</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col8">
                                            <span class="text">Вид собственности</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col9">
                                            <span class="text">Собственник/арендатор</span>
                                        </label>
                                    </li>
                                    <li class="filter-col__li">
                                        <label>
                                            <input type="checkbox" checked id="col10">
                                            <span class="text">Выписка</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <p class="text head-text">Адрес объекта</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">107113, г. Москва,
                                ул. Сокольнический Вал, д. 8</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col2">
                        <div class="lists-table__box">
                            <p class="text head-text">Округ</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">ЮВАО</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col3">
                        <div class="lists-table__box">
                            <p class="text head-text">Назначение объекта</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">Торговое</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col4">
                        <div class="lists-table__box">
                            <p class="text head-text">Кадастровый номер</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">77:03:001001:2879</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col5">
                        <div class="lists-table__box">
                            <p class="text head-text">Площадь объекта, м2</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">1530</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col6">
                        <div class="lists-table__box">
                            <p class="text head-text">Этажность</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text"><span>3</span>, в том числе подземных <span>0</span></p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col7">
                        <div class="lists-table__box">
                            <p class="text head-text">Вид объекта</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">Здание</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col8">
                        <div class="lists-table__box">
                            <p class="text head-text">Вид собственности</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">Собственность</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col9">
                        <div class="lists-table__box">
                            <p class="text head-text">Собственник/арендатор</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">ООО "Маделон"</p>
                        </div>
                    </div>
                    <div class="lists-table__col" draggable="true" data-col="col10">
                        <div class="lists-table__box">
                            <p class="text head-text">Выписка</p>
                        </div>
                        <div class="lists-table__box">
                            <p class="text">Выписка 234</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/col-resize.min.js"></script>
    <script src="../../static/script.js"></script>
</body>

</html>