* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

:root {
    --color-white: #fff;
    --color-grey: #C0C0C0;
    --color-black: #000;
}

ul,
li {
    list-style: none;
}

.header {
    background: var(--color-black);
    padding: 10px 20px;
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    z-index: 100;
    background: rgba(0 0 0 / 0.6);
}

body.active {
    overflow: hidden;
}

body.active .overlay {
    display: block;
}

.popup {
    position: fixed;
    background: var(--color-white);
    padding: 20px;
    top: 50%;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .update-company__item.main-btn {
    width: 100%;
}

.popup .main-btn {
    width: 50%;
}

.update-company__form {
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.update-company__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.update-company__wrap {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.update-company__item {
    width: 50%;
    overflow: auto;
    margin-top: 20px;
}

.update-company__item::-webkit-scrollbar {
    height: 0;
}

.update-right .table,
.update-left .table {
    margin-top: 20px;
}

.update-right,
.update-left {
    width: 49%;
    overflow: auto;
}

.update-right::-webkit-scrollbar,
.update-left::-webkit-scrollbar {
    height: 0;
}

.update-company>span {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    right: -25px;
    cursor: pointer;
}

.update-company>span::after,
.update-company>span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-white);
}

.update-company>span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.update-company__name {
    font-size: 14px;
}

.popup .text a,
.popup .text {
    font-size: 12px;
}

.popup .table {
    max-height: 585px;
    overflow: auto;
}

.update .table {
    max-height: 602px;
}

.table {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 91vh;
    overflow: auto;
}

.mail-wrap .table {
    height: 82vh;
}

a.header-login:hover,
a.header-login {
    text-decoration: none;
}

.header-login button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
    background: var(--color-white);
    width: 103px;
    height: 40px;
    cursor: pointer;
    color: var(--color-black);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-login button:hover {
    opacity: 0.8;
}

.filter-col {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/column.png)left center/20px no-repeat;
}

.filter-col__list {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    background: var(--color-white);
    z-index: 3;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
}

.filter-col.active .filter-col__list {
    display: flex;
}

.filter-col .text {
    text-align: left;
}

.table .filter-col span::before {
    left: 0;
    transform: translate(0, -50%);
}

.filter-col input:disabled+span::before {
    opacity: 0.6;
}

.table .filter-col__li label {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
}

.lists {
    overflow: auto;
}

.lists-table__col {
    position: relative;
    border: 1px solid var(--color-grey);
    max-width: initial;
    min-width: 100px;
    transition: transform 0.4s;
}

.lists-table__col-name {
    min-width: 200px;
    max-width: 200px;
}

.lists-table__col[data-col] {
    cursor: -webkit-grab;
    cursor: grab;
}

.lists-table__col+.lists-table__col {
    border-left: none;
}

.lists-table__box {
    display: flex;
    min-height: 53px;
    max-height: 53px;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-grey);
    width: 100%;
    background: var(--color-white);
}

.lists-table__box-name {
    overflow: visible;
    padding-left: 40px;
}

.lists-table__box:first-child {
    background: #DFDFDF;
}

.lists-table__box a {
    position: relative;
    z-index: 1;
}

.lists-table__col-box {
    padding: 40px;
    border: 1px solid var(--color-black);
    border-radius: 20px;
    position: relative;
}

.lists-table__col.active {
    border: 1px dashed red;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header-logo__icon {
    max-width: 284px;
    max-height: 42px;
    height: auto;
    width: 100%;
}

.form {
    width: 100%;
    max-width: 1460px;
    height: 50px;
    position: relative;
}

.popup .form {
    max-width: 100%;
}

.input {
    border-radius: 13px;
    padding: 10px 50px 10px 25px;
    background: #F6F5F5;
    color: var(--color-black);
    height: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: normal;
    border: none;
}

.header-form .input {
    background: var(--color-white);
}

.input::-webkit-input-placeholder {
    color: var(--color-black);
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input:-ms-input-placeholder,
.input::-ms-input-placeholder,
.input::placeholder {
    color: var(--color-black);
}

.form-btn {
    width: 26px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    cursor: pointer;
    border: none;
    background: url(../images/search.png) center center/contain no-repeat;
}

.main {
    display: flex;
    height: 91vh;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar-menu {
    display: flex;
    overflow: auto;
    height: 92vh;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid var(--color-grey);
}

.table::-webkit-scrollbar,
.sidebar-menu::-webkit-scrollbar {
    width: 0;
}

.menu-li {
    border-right: 1px solid var(--color-grey);
}

a.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
    font-weight: 600;
    background: #F9F9F9;
    width: 100px;
    color: var(--color-black);
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    line-height: normal;
}

.menu-link img {
    width: 33px;
    height: 33px;
}

.menu-li.active a,
.menu-li:hover a.menu-link {
    color: var(--color-white);
    text-decoration: none;
    background: var(--color-black);
}

.menu-li.active a img,
.menu-li:hover a.menu-link img {
    -webkit-filter: invert(1);
    filter: invert(1)
}

.main-content {
    margin: 10px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.mail-name,
.court-name,
.lists-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
}

input[type='checkbox'] {
    position: relative;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    width: 20px;
    height: 20px;
}

.table label {
    position: relative;
    width: 20px;
    display: block;
    margin: 0 auto;
    height: 20px;
}

.table label span::before {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    content: '';
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-black);
    background: var(--color-white);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.table label input:checked+span::before {
    background: var(--color-black);
}

.table label input.checkAllInput:indeterminate+span::before {
    content: '-';
}

.text a,
.text {
    color: var(--color-black);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-left .text {
    text-align: left;
}


.fw-600 {
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.head-text {
    font-weight: 500;
}

.about-top {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 50px;
}

.prev img {
    width: 100%;
}

.top-item {
    text-align: center;
    height: 100px;
    border-bottom: 1px solid #D71522;
    color: var(--color-black);
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-left {
    border-right: 1px solid var(--color-grey);
}

.content-inner {
    border: 1px solid var(--color-grey);
    position: relative;
}

.content-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
}

.content-right,
.content-left {
    width: 50%;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-black);
}

.tabs-item {
    border-radius: 6px 24px 0px 0px;
    border: 1px solid var(--color-black);
    border-bottom: none;
    width: 150px;
    padding: 14px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs-item--active,
.tabs-item:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.company-inner__id {
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    padding-left: 25px;
    margin-bottom: 5px;
}

.content-item {
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 30px;
}

.content-box {
    border-radius: 6px;
    border: 1px solid var(--color-black);
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.content-box a {
    display: inline-block;
}

.content-block .content-box.black {
    background: var(--color-black) !important;
    color: var(--color-white);
}

.content-block .content-box {
    display: inline-flex;
    background: var(--color-white);
    width: initial;
}

.content-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: row;
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-right: 100px;
    margin-bottom: 30px;
}

.history-block {
    justify-content: flex-start;
    padding: 0 0 0 30px;
    gap: 100px;
}

.content-block::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    z-index: -1;
    height: 1px;
    border-bottom: 1px solid var(--color-black);
}

.about-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    margin-bottom: 30px;
    flex-direction: column;
    margin-left: 56px;
}

.about__item {
    display: grid;
    width: 100%;
    gap: 10px;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.court-inner__item,
.about-inner__item {
    display: none;
}

.active {
    display: block;
}

.about-obj__box {
    border-bottom: 1px solid var(--color-grey);
    padding: 10px 30px;
}

.main-btn {
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    height: 55px;
    flex-shrink: 0;
    border: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    background: var(--color-white);
    cursor: pointer;
    justify-content: center;
    color: var(--color-white);
    color: var(--color-black);
    font-size: 14px;
    font-style: normal;
    white-space: nowrap;
    font-weight: 400;
    line-height: normal;
}

.main-btn:hover {
    color: var(--color-white);
    background: var(--color-black);
}

.about-obj__btn {
    margin: 80px auto 0;
    max-width: 261px;
    color: var(--color-white);
    background: var(--color-black);
}

.about-obj__btn:hover {
    color: var(--color-black);
    background: var(--color-white);
}

.mailers-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 25px;
}

.mailers-btns__wrap .mailers-btns {
    margin-bottom: 0;
}

.court-questions__box {
    padding: 30px;
}

.court-questions__box p+p {
    margin-top: 10px;
}

.mailers-btns__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: flex-start;
    gap: 50px;
}

.mailers-btns__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.update-company__item,
.mailers-input {
    border-radius: 0px 6px 6px 0px;
    border: 1px solid var(--color-black);
    width: 100%;
    max-width: 281px;
    height: 55px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.update-company__input,
.popup .main-btn,
.update-company__item {
    height: 45px;
}

.update-company__item,
.update-company__input {
    border-radius: 6px;
}

.drop {
    margin: 0;
    cursor: pointer;
    padding: 0;
    display: block;
    position: relative;
    overflow: visible;
}

.drop span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.drop__list {
    display: none;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    background: var(--color-white);
    box-shadow: 0 5px 5px rgba(0 0 0/0.5);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
}

.drop--active .drop__list {
    display: flex;
}

.drop__list li {
    width: 100%;
}

.drop__list label {
    position: relative;
}

.drop__list label::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    left: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.drop__input {
    color: var(--color-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
}

.drop__input::-webkit-input-placeholder {
    color: var(--color-black);
}

.drop__input::-moz-placeholder {
    color: var(--color-black);
}

.drop__input:-ms-input-placeholder {
    color: var(--color-black);
}

.drop__input::-ms-input-placeholder {
    color: var(--color-black);
}

.drop__input::placeholder {
    color: var(--color-black);
}

.drop__input:hover {
    opacity: 0.9;
}

.mailers-input::-webkit-input-placeholder {
    color: var(--color-black);
    text-align: center;
}

.mailers-input::-moz-placeholder {
    color: var(--color-black);
    text-align: center;
}

.mailers-input:-ms-input-placeholder {
    color: var(--color-black);
    text-align: center;
}

.mailers-input::-ms-input-placeholder {
    color: var(--color-black);
    text-align: center;
}

.mailers-input::placeholder {
    color: var(--color-black);
    text-align: center;
}

.mailers-btns__box .mailers-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

form {
    position: relative;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    z-index: 1;
    background: var(--color-white);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
}