{% extends 'dbServer/pattern.html' %}
{% block body %}
{% load static %}
<div class="main-content content">
    <div class="about content-inner">
        <a class="about-prev prev" href="{% url 'home' %}">
            <img src="{% static 'dbServer/images/arr-left.png' %}" alt="">
        </a>
        <div class="content-wrap about-wrap">
            <div class="about-left content-left">
                <div class="top-item about-top__company">{{ Companies.company_name }}</div>
                <div class="about-inner__info">
                    <p class="company-inner__id text">id: <span>{{ Companies.id }}</span></p>
                    <div class="tabs">
                        <div class="tabs-item text tabs-item--active" data-tabs="history">Основное</div>
                        <div class="tabs-item text" data-tabs="obj">Объекты</div>
                    </div>
                </div>
                <div class="about-inner__item history active" data-about="history">
                    <table class="history-table">
                        <tr>
                            <td>
                                <p class="text">ИНН</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.inn_company }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Юр. Адрес</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.legal_address}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Должность руководителя</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.position_head }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">ФИО руководителя</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.fio_head }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Телефоны</p>
                            </td>
                            <td>
                                <p class="text">
                                <p class="text">{% for f in Companies.telephone %}{{ f }}, {% endfor %}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Почты</p>
                            </td>
                            <td>
                                <p class="text">{% for f in Companies.mail %}{{ f |urlize }}, {% endfor %}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Сайты</p>
                            </td>
                            <td>
                                <p class="text">
                                <p class="text">{{ Companies.website |urlize }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">ОКВЭД</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.type_activity }}</p>
                            </td>
                        </tr>
{#                        <tr>#}
{#                            <td>#}
{#                                <p class="text">Оборот компании</p>#}
{#                            </td>#}
{#                            <td>#}
{#                                <p class="text">{{ Companies.revenue }}</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
                            <td>
                                <p class="text">Количество сотрудников</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.number_employees }}</p>
                            </td>
                        <tr>
                            <td>
                                <p class="text">Выручка</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.revenue }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Дата регистрации компании</p>
                            </td>
                            <td>
                                <p class="text">{{ Companies.date_registration }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Кол-во объектов в собственности</p>
                            </td>
                            <td>
                                {% if Companies.number_object_owned %}
                                <p class="text">{{ Companies.number_object_owned }}</p>
                                {%else%}
                                <p class="text">0</p>
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Кол-во объектов в аренде</p>
                            </td>
                            <td>
                                {% if Companies.number_object_rent %}
                                <p class="text">{{ Companies.number_object_rent }}</p>
                                {%else%}
                                <p class="text">0</p>
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Кол-во ЗУ в собственности</p>

                            </td>
                            <td>
                                {% if Companies.number_land_owned %}
                                <p class="text">{{Companies.number_land_owned}}</p>
                                {%else%}
                                <p class="text">0</p>
                                {%endif%}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Кол-во ЗУ в аренде</p>
                            </td>
                            <td>
                                {% if Companies.number_land_rent %}
                                <p class="text">{{Companies.number_land_rent}}</p>
                                {%else%}
                                <p class="text">0</p>
                                {%endif%}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="about-inner__item about-obj" data-about="obj">
                    <div class="about-obj__box">
                        <p class="text fw-600">Объекты в собственности</p>
                    </div>
                    {% if obj%}
                    {% for i in obj %}
                    <div class="about-obj__box" onclick="objects({{i.id_cadastral_number}}, {{Companies.id}})">
                        <p class="text">
                            {{ i.objects_owned }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="about-obj__box">
                        <p class="text">Объекты отсутствуют</p>
                    </div>
                    {% endif %}

                    <div class="about-obj__box">
                        <p class="text fw-600">Объекты в аренде</p>
                    </div>
                    {% if ObjInArend%}
                    {% for i in ObjInArend %}
                    <div class="about-obj__box" onclick="objects({{i.id_cadastral_number}}, {{Companies.id}})">
                        <p class="text">
                            {{ i.objects_owned }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="about-obj__box">
                        <p class="text">Объекты отсутствуют</p>
                    </div>
                    {%endif%}

                    <div class="about-obj__box">
                        <p class="text fw-600">Земельные участки в собственности</p>
                    </div>
                    {% if earthSobstv%}
                    {% for i in earthSobstv %}
                    <div class="about-obj__box" onclick="objects({{i.id_cadastral_number}}, {{Companies.id}})">
                        <p class="text">
                            {{ i.objects_owned }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="about-obj__box">
                        <p class="text">Объекты отсутствуют</p>
                    </div>
                    {%endif%}

                    <div class="about-obj__box">
                        <p class="text fw-600">Земельные участки в аренде</p>
                    </div>
                    {% if earthInArend %}
                    {% for i in earthInArend %}
                    <div class="about-obj__box" onclick="objects({{i.id_cadastral_number}}, {{Companies.id}})">
                        <p class="text">
                            {{ i.objects_owned }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="about-obj__box">
                        <p class="text">Объекты отсутствуют</p>
                    </div>
                    {%endif%}

{##}
{#                    {% if earthInArend%}#}
{#                    {% for i in earthInArend%}#}
{#                    <p class="text">#}
{#                        {{ i.objects_owned }}#}
{#                    </p>#}
{#                </div>#}
{#                {% endfor %}#}
{#                {% else %}#}
{#                        #}

{#                <div class="about-obj__box">#}
{#                    <p class="text">Объекты отсутствуют</p>#}
{#                </div>#}
{#                {%endif%}#}
            </div>
        </div>
        <div class="about-right content-right">
            <div class="about-inner__item history active" data-about="history">
                <p class="top-item">История взаимодействия</p>
{#                <div class="history-block content-block">#}
{#                    <p class="history-box text content-box">Июль, 2023</p>#}
{#                </div>#}
                {% for i in history %}
                <div class="history-item content-item">
                    <p class="history-date text content-date"><span>{{ i.date }}</span>
                    </p>
                    <p class="history-box text content-box">{{ i.description }}
                    </p>
                </div>
                {% endfor %}

            </div>
            <div class="about-inner__item about-obj" data-about="obj">
                <p class="top-item about-top__obj">Описание объекта</p>
                <div class="about-wrapper">
                    <p class="about__item text">Кадастровый номер<span id="CadastrNum"></span>
                    </p>
                    <p class="about__item text">Вид объекта<span id="ObjView"></span></p>
                    <p class="about__item text">Вид права<span id="TypeRight"></span></p>
                    <p class="about__item text">№ регистрации права<span id="NumRight"></span></p>

                    <p class="about__item text">Название правообладателя<span id="FIO"></span></p>
                </div>
                <button class="about-obj__btn main-btn" id="sendBX" onclick="extract()">Открыть выписку объекта</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}