{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}


       <div class="about content-inner">
           <a class="about-prev prev" href={% url 'home' %} >
               <img src="../../static/dbServer/images/Backbutton.png">
           </a>
           <div class="content-wrap about-wrap">
               <div class="about-left content-left">
                    <div class="top-item about-top__company">{{ Companies.company_name }}
                    </div>
                        <div class="about-inner__info">
                            <p class="company-inner__id text">id: <span>{{ Companies.id }}</span></p>
                            <div class="tabs">
                                <div class="tabs-item text tabs-item" data-tabs="history" onClick="document.location = '?table=main'" >Основное</div>
                                <div class="tabs-item text" data-tabs="obj" onClick="document.location = '?table=object'">Объекты</div>
                            </div>
                        </div>

                   <div class="about-inner__item history active" data-about="history">
                       {% block table %}{% endblock %}
                   </div>
               </div>

                        <div class="about-right content-right">
                            {% block right %} {% endblock %}

                        </div>

           </div>
       </div>

{% endblock %}
