<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <link rel="stylesheet", href="grid.css">
  </head>
  <body>
    <main>
      <div class="container">
    
        <h1>Bootstrap grid examples</h1>
        <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
        <p>In these examples the <code>.themed-grid-col</code> class is added to the columns to add some theming. This is not a class that is available in Bootstrap by default.</p>
    
        <h2 class="mt-4">Five grid tiers</h2>
        <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>
        {% for el in Samostroy %}
          <div class ="alert alert-warnning mt-2">
            <h3>{{el.names}}</h3>
            <p>{{el.status}}</p>
        {% endfor %}
    </main>
  </body>
</html>