<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>{% block name %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dbServer/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <a class="header-logo__link" href="/">
                <img class="header-logo__icon" src="{% static 'dbServer/images/logo.png'%}" alt="logo">
            </a>
            <form class="header-form form" action="" mediv class="lists-table__box" od="get">
                <input class="header-input input" type="text" placeholder="Поиск и фильтр">
                <button class="header-btn form-btn" type="submit"></button>

            </form>
            {% if request.user.is_authenticated %}
            <a class="header-login" href="{% url 'logout' %}"><button>Выйти</button></a>
            {% else %}
            <form action="login/" method="POST">
                {% csrf_token %}
                <button type="submit">Войти</button>
            </form>
            {% endif %}
        </div>
    </header>
    {% if request.user.is_authenticated %}
    <div class="overlay">
        <div class="update-company popup">
            <span></span>
            <form class="update-company__form" action="" method="get">
                <input class="update-company__input mailers-input" type="text" placeholder="Введите название рассылки">
                <span class="update-company__item drop main-btn">
                    <span>Название шаблона</span>
                    <ul class="drop__list">
                        <li>
                            <label>
                                <input class="drop__input" value="Легализация самостроя"
                                    placeholder="Легализация самостроя">
                            </label>
                        </li>
                        <li>
                            <label>
                                <input class="drop__input" value="Обследование зданий"
                                    placeholder="Обследование зданий">
                            </label>
                        </li>
                    </ul>
                </span>
                <input class="update-company__input mailers-input" type="text"
                    placeholder="Введите привязанные контакты">
                <button class="update-company__btn main-btn">Добавить</button>
                </span>
            </form>
        </div>
    </div>
    <main class="main">
    {% load cache %}
    {% cache 60 sidebar %}
        <div class="sidebar">
            <nav>
                <ul class="sidebar-menu menu">
                    <li class="menu-li" data-url="#">
                        <a class="menu-link" href="#">
                            <img src="{% static 'dbServer/images/monitor.png' %}" alt="">Рабочий стол</a>
                    </li>
                    <li class="menu-li" data-url={% url 'home' %}>
                        <a class="menu-link" href={% url 'home' %}>
                            <img src="{% static 'dbServer/images/burger.png'%}" alt="">Списки</a>
                    </li>
                    <li class="menu-li" data-url="/objects">
                        <a class="menu-link" href="../dbServer/objects.html">
                            <img src="{% static 'dbServer/images/object.png' %}" alt="">Объекты</a>
                    </li>
                    <li class="menu-li" data-url={% url 'mainCourt' %}>
                        <a class="menu-link" href={% url 'mainCourt' %}>
                            <img src="{% static 'dbServer/images/court.png' %}" alt="">Суд</a>
                    </li>
                    <li class="menu-li" data-url={% url 'manCourt' %}>
                        <a class="menu-link" href={% url 'manCourt' %}>
                            <img src="{% static 'dbServer/images/email.png' %}" alt="">Email</a>
                    </li>
                    <li class="menu-li" data-url={% url 'EmalePajemanCourt' %}>
                        <a class="menu-link" href={% url 'EmalePajemanCourt' %}>
                            <img src="{% static 'dbServer/images/post.png' %}" alt="">Почта</a>
                    </li>
                    <li class="menu-li" data-url={% url 'smsmainCourt' %}>
                        <a class="menu-link" href={% url 'smsmainCourt' %}>
                            <img src="{% static 'dbServer/images/sms.png' %}" alt="">СМС</a>
                    </li>
                    <li class="menu-li" data-url={% url 'Calsman' %}>
                        <a class="menu-link" href={% url 'Calsman' %}>
                            <img src="{% static 'dbServer/images/phone.png' %}" alt="">Звонки</a>
                    </li>
                    <li class="menu-li" data-url="/analitycs">
                        <a class="menu-link" href="../dbServer/analitycs.html">
                            <img src="{% static 'dbServer/images/analytics.png' %}" alt="">Аналитика</a>
                    </li>
                    <li class="menu-li" data-url="/economy">
                        <a class="menu-link" href="../dbServer/economy.html">
                            <img src="{% static 'dbServer/images/economycs.png' %}" alt="">Экономика</a>
                    </li>
                    <li class="menu-li" data-url="/settings">
                        <a class="menu-link" href="../dbServer/settings.html">
                            <img src="{% static 'dbServer/images/settings.png' %}" alt="">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endcache %}
        {% block body %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'dbServer/js/main.js' %}"></script>
    <script src="{% static 'dbServer/js/col-resize.min.js' %}"></script>
    {% endif %}


</body>

</html>