{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}
{% load static %}
<div class="main-content content filter-company">
    <div class="update">
        <div class="update-company">
            <div class="update-company__wrap">
                <div class="update-left" id="NotInNewsletter">
                    <div class="update-company__box">
                        <div class="update-company__name">Не в рассылке</div>
                        <button class="main-btn" onclick="buttonadd()">+ Добавить в рассылку</button>
                        <div class="counter counter-1">{{ count }}</div>
                    </div>
                    <div class="table-box">
                        <div class="table-block">
                            <div class="toggle-col">
                                <img src="{% static 'dbServer/images/columns.png'%}" alt="">Колонны
                                <ul class="toggle-col__list">
                                    <li class="toggle-col__li" data-val="company_name">
                                        <label>
                                            <input type="checkbox" disabled checked>
                                            <span class="text">Наименование компании</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="inn_company">
                                        <label>
                                            <input type="checkbox" checked id="col2">
                                            <span class="text">ИНН</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="legal_address">
                                        <label>
                                            <input type="checkbox" checked id="col3">
                                            <span class="text">Юр. адрес</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="position_head">
                                        <label>
                                            <input type="checkbox" checked id="col4">
                                            <span class="text">Должность руководителя</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="fio_head">
                                        <label>
                                            <input type="checkbox" checked id="col5">
                                            <span class="text">ФИО руководителя</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="telephone">
                                        <label>
                                            <input type="checkbox" checked id="col6">
                                            <span class="text">Телефоны</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="mail">
                                        <label>
                                            <input type="checkbox" checked id="col7">
                                            <span class="text">Почты</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="website">
                                        <label>
                                            <input type="checkbox" checked id="col8">
                                            <span class="text">Сайт</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="data_source">
                                        <label>
                                            <input type="checkbox" checked id="col9">
                                            <span class="text">Источники данных</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="type_activity">
                                        <label>
                                            <input type="checkbox" checked id="col10">
                                            <span class="text">ОКВЭД</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="revenue">
                                        <label>
                                            <input type="checkbox" checked id="col11">
                                            <span class="text">Выручка</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="email_newsletter">
                                        <label>
                                            <input type="checkbox" checked id="col12">
                                            <span class="text">Рассылка по электронной почте</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="mail_newsletter">
                                        <label>
                                            <input type="checkbox" checked id="col13">
                                            <span class="text">Рассылка по почте</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="sms_mailing">
                                        <label>
                                            <input type="checkbox" checked id="col14">
                                            <span class="text">Рассылка по смс</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="the_bell">
                                        <label>
                                            <input type="checkbox" checked id="col15">
                                            <span class="text">Звонки</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="lists-table table">
                                <div class="lists-table__col table-check lists-table__col--not-resize">
                                    <div class="lists-table__box">
                                        <label for="check">
                                            <input class="checkAllInput" type="checkbox" id="checkAllAdd">
                                            <span></span>
                                        </label>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <label for="check">
                                            <input type="checkbox" class='removeFromNewsletter' name='interest'
                                                value='{{ i.inn_company }}, {{ template }}'>
                                            <span></span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col lists-table__col-name" data-val="company_name">
                                    <div class="lists-table__box lists-table__box-name">
                                        <p class="text head-text">Наименование компании</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">
                                            <a class="text lists-name" href="{% url 'info' i.inn_company %}">
                                                {{ i.company_name }}</a>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col lists-table__col--hide" data-col="col1">&nbsp;</div>
                                <div class="lists-table__col" data-val="inn_company" data-col="col2">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ИНН</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.inn_company }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="legal_address" data-col="col3">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Юр. адрес</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.legal_address }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="position_head" data-col="col4">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Должность руководителя</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.position_head }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="fio_head" data-col="col5">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ФИО руководителя</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.fio_head }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="telephone" data-col="col6">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Телефоны</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text text-flex">
                                            {% for f in i.telephone %}
                                            <a href="tel:{{ f }}">{{ f }}</a>{%endfor %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="mail" data-col="col7">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Почты</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text text-flex">
                                            {% for f in i.mail %}
                                            <a href="mailto:{{ f }}">{{ f}}</a>
                                            {%endfor %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="website" data-col="col8">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Сайт</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">
                                            <a href="{{ i.website }}" target="_blank">{{ i.website }}</a>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="data_source" data-col="col9">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Источники данных</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.data_source %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="type_activity" data-col="col10">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ОКВЭД</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.type_activity }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="revenue" data-col="col11">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Выручка</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text revenue-value">{{ i.revenue }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="email_newsletter" data-col="col12">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по электронной почте</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.email_newsletter %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="mail_newsletter" data-col="col13">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по почте</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.mail_newsletter %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="sms_mailing" data-col="col14">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по смс</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.sms_mailing %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="the_bell" data-col="col15">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Звонки</p>
                                    </div>
                                    {% for i in NotInNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.the_bell %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="update-right" id="InNewsletter">
                    <div class="update-company__box">
                        <div class="update-company__name">В рассылке</div>
                        <button class="main-btn" onclick="buttonRemove()">- Удалить из рассылки</button>
                        <div class="counter counter-2">{{ count2 }}</div>
                    </div>
                    <div class="table-box">
                        <div class="table-block">
                            <div class="toggle-col">
                                <img src="{% static 'dbServer/images/columns.png'%}" alt="">Колонны
                                <ul class="toggle-col__list">
                                    <li class="toggle-col__li" data-val="company_name">
                                        <label>
                                            <input type="checkbox" disabled checked>
                                            <span class="text">Наименование компании</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="inn_company">
                                        <label>
                                            <input type="checkbox" checked id="col2">
                                            <span class="text">ИНН</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="legal_address">
                                        <label>
                                            <input type="checkbox" checked id="col3">
                                            <span class="text">Юр. адрес</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="position_head">
                                        <label>
                                            <input type="checkbox" checked id="col4">
                                            <span class="text">Должность руководителя</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="fio_head">
                                        <label>
                                            <input type="checkbox" checked id="col5">
                                            <span class="text">ФИО руководителя</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="telephone">
                                        <label>
                                            <input type="checkbox" checked id="col6">
                                            <span class="text">Телефоны</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="mail">
                                        <label>
                                            <input type="checkbox" checked id="col7">
                                            <span class="text">Почты</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="website">
                                        <label>
                                            <input type="checkbox" checked id="col8">
                                            <span class="text">Сайт</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="data_source">
                                        <label>
                                            <input type="checkbox" checked id="col9">
                                            <span class="text">Источники данных</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="type_activity">
                                        <label>
                                            <input type="checkbox" checked id="col10">
                                            <span class="text">ОКВЭД</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="revenue">
                                        <label>
                                            <input type="checkbox" checked id="col11">
                                            <span class="text">Выручка</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="email_newsletter">
                                        <label>
                                            <input type="checkbox" checked id="col12">
                                            <span class="text">Рассылка по электронной почте</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="mail_newsletter">
                                        <label>
                                            <input type="checkbox" checked id="col13">
                                            <span class="text">Рассылка по почте</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="sms_mailing">
                                        <label>
                                            <input type="checkbox" checked id="col14">
                                            <span class="text">Рассылка по смс</span>
                                        </label>
                                    </li>
                                    <li class="toggle-col__li" data-val="the_bell">
                                        <label>
                                            <input type="checkbox" checked id="col15">
                                            <span class="text">Звонки</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="lists-table table">
                                <div class="lists-table__col table-check lists-table__col--not-resize">
                                    <div class="lists-table__box">
                                        <label for="check">
                                            <input class="checkAllInput" type="checkbox" id="checkAllRemove">
                                            <span></span>
                                        </label>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <label for="check">
                                            <input type="checkbox" class='removeFromNewsletter' name='interest'
                                                value='{{ i.inn_company }}, {{ template }}'>
                                            <span></span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col lists-table__col-name" data-val="company_name">
                                    <div class="lists-table__box lists-table__box-name">
                                        <p class="text head-text">Наименование компании</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">
                                            <a class="text lists-name" href="{% url 'info' i.inn_company %}">
                                                {{ i.company_name }}</a>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col lists-table__col--hide" data-col="col1">&nbsp;</div>
                                <div class="lists-table__col" data-val="inn_company" data-col="col2">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ИНН</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.inn_company }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="legal_address" data-col="col3">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Юр. адрес</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.legal_address }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="position_head" data-col="col4">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Должность руководителя</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.position_head }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="fio_head" data-col="col5">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ФИО руководителя</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.fio_head }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="telephone" data-col="col6">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Телефоны</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text text-flex">
                                            {% for f in i.telephone %}
                                            <a href="tel:{{ f }}">{{ f }}</a>{%endfor %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="mail" data-col="col7">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Почты</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text text-flex">
                                            {% for f in i.mail %}
                                            <a href="mailto:{{ f }}">{{ f}}</a>
                                            {%endfor %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="website" data-col="col8">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Сайт</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">
                                            <a href="{{ i.website }}" target="_blank">{{ i.website }}</a>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="data_source" data-col="col9">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Источники данных</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.data_source %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="type_activity" data-col="col10">
                                    <div class="lists-table__box">
                                        <p class="text head-text">ОКВЭД</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text">{{ i.type_activity }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="revenue" data-col="col11">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Выручка</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <p class="text revenue-value">{{ i.revenue }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="email_newsletter" data-col="col12">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по электронной почте</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.email_newsletter %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="mail_newsletter" data-col="col13">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по почте</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.mail_newsletter %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="sms_mailing" data-col="col14">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Рассылка по смс</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.sms_mailing %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="lists-table__col" data-val="the_bell" data-col="col15">
                                    <div class="lists-table__box">
                                        <p class="text head-text">Звонки</p>
                                    </div>
                                    {% for i in InNewsletter %}
                                    <div class="lists-table__box">
                                        <div class="text-flex">
                                            {% for f in i.the_bell %}
                                            <p class="text">{{ f }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-more more">
        <div class="more-navigation__wrap find">
            <div class="more-arrow prev arrow">
                <img src="{% static 'dbServer/images/arr-nav-left.png' %}" alt="" />
                Назад
            </div>
            <div class="more-navigation__nums-box">
                <div class="more-navigation__num more-navigation__num-first" data-num="1">1</div>
                <div class="more-navigation__nums"></div>
                <div class="more-navigation__num more-navigation__num-last"></div>
            </div>
            <div class="more-arrow next arrow">
                Вперед
                <img src="{% static 'dbServer/images/arr-nav-right.png' %}" alt="" />
            </div>
        </div>
        <div class="more-box">
            <div class="limit-sort filter-drop drop">
                <div class="text">Показать:</div><span data-result="50">50</span>
                <div class="drop__list">
                    <div class="drop__item find" data-drop="50">50</div>
                    <div class="drop__item find" data-drop="100">100</div>
                    <div class="drop__item find" data-drop="200">200</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}