{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}
<div class="main-content content">
    <div class="update">
        <div class="update-company">
            <div class="update-company__wrap">
                <div class="update-left">
                    <div class="update-company__box">
                        <div class="update-company__name">Не в рассылке</div>
                        <button class="main-btn" onclick="buttonadd()">Добавить в рассылку</button>
                    </div>
                    <div class="lists-table table" id="table">
                        <div class="lists-table__col">
                            <div class="lists-table__box">
                                <label for="check">
                                    <input class="checkAllInput" type="checkbox" id="checkAllAdd">
                                    <span></span>
                                </label>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <label for="check">
                                    <input type="checkbox" value="{{ i.id}},{{ template}}" class="needad">
                                    <span></span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col lists-table__col-name">
                            <div class="lists-table__box lists-table__box-name">
                                <div class="filter-col">
                                    <ul class="filter-col__list">
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" disabled checked>
                                                <span class="text">Наименование компании</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col2">
                                                <span class="text">ИНН</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col3">
                                                <span class="text">Юр. адрес</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col4">
                                                <span class="text">Должность руководителя</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col5">
                                                <span class="text">ФИО руководителя</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col6">
                                                <span class="text">Телефоны</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col7">
                                                <span class="text">Почты</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col8">
                                                <span class="text">Сайты</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col9">
                                                <span class="text">Источники данных</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col10">
                                                <span class="text">ОКВЭД</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col11">
                                                <span class="text">Выручка</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col12">
                                                <span class="text">Рассылка по электронной почте</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col13">
                                                <span class="text">Рассылка по почте</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col14">
                                                <span class="text">Рассылка по смс</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col15">
                                                <span class="text">Звонки</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <p class="text head-text">Наименование компании</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <p class="text lists-name" >{{ i.company_name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col2">
                            <div class="lists-table__box">
                                <p class="text head-text">ИНН</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.inn_company }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col3">
                            <div class="lists-table__box">
                                <p class="text head-text">Юр. адрес</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.legal_address }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col4">
                            <div class="lists-table__box">
                                <p class="text head-text">Должность руководителя</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.position_head }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col5">
                            <div class="lists-table__box">
                                <p class="text head-text">ФИО руководителя</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.fio_head }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col6">
                            <div class="lists-table__box">
                                <p class="text head-text">Телефоны</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a>{{ i.telephone |truncatewords:2}}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col7">
                            <div class="lists-table__box">
                                <p class="text head-text">Почты</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a>{{ i.mail |truncatewords:2 |urlize }}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col8">
                            <div class="lists-table__box">
                                <p class="text head-text">Сайты</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a> {{i.website | truncatechars:25 |urlize }}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="lists-table__col" data-col="col9">
                            <div class="lists-table__box">
                                <p class="text head-text">Источники данных</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{% for f in i.data_source %} {{ f }}{% endfor %}</p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="lists-table__col" data-col="col10">
                            <div class="lists-table__box">
                                <p class="text head-text">ОКВЭД</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.activity_type_code }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col11">
                            <div class="lists-table__box">
                                <p class="text head-text">Выручка</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.revenue }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col12">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по электронной почте</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.email_newsletter }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col13">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по почте</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.mail_newsletter }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col14">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по смс</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.sms_mailing }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col15">
                            <div class="lists-table__box">
                                <p class="text head-text">Звонки</p>
                            </div>
                            {% for i in NotInNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.the_bell }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="update-right">
                    <div class="update-company__box">
                        <div class="update-company__name">В рассылке</div>
                        <button class="main-btn" onclick="buttonRemove()">Удалить из рассылки</button>
                    </div>
                    <div class="lists-table table" id="table1">
                        <div class="lists-table__col">
                            <div class="lists-table__box">
                                <label for="check">
                                    <input class="checkAllInput" type="checkbox" id="checkAllRemove">
                                    <span></span>
                                </label>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <label for="check">
                                    <input type="checkbox" value="{{ i.id}},{{ template}}" class="removeFromNewsletter">
                                    <span></span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col lists-table__col-name">
                            <div class="lists-table__box lists-table__box-name">
                                <div class="filter-col">
                                    <ul class="filter-col__list">
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" disabled checked>
                                                <span class="text">Наименование компании</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col2">
                                                <span class="text">ИНН</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col3">
                                                <span class="text">Юр. адрес</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col4">
                                                <span class="text">Должность руководителя</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col5">
                                                <span class="text">ФИО руководителя</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col6">
                                                <span class="text">Телефоны</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col7">
                                                <span class="text">Почты</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col8">
                                                <span class="text">Сайты</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col9">
                                                <span class="text">Источники данных</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col10">
                                                <span class="text">ОКВЭД</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col11">
                                                <span class="text">Выручка</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col12">
                                                <span class="text">Рассылка по электронной почте</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col13">
                                                <span class="text">Рассылка по почте</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col14">
                                                <span class="text">Рассылка по смс</span>
                                            </label>
                                        </li>

                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col15">
                                                <span class="text">Звонки</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <p class="text head-text">Наименование компании</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <p class="text lists-name">{{ i.company_name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col2">
                            <div class="lists-table__box">
                                <p class="text head-text">ИНН</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.inn_company }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col3">
                            <div class="lists-table__box">
                                <p class="text head-text">Юрю адрес</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.legal_address }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col4">
                            <div class="lists-table__box">
                                <p class="text head-text">Должность руководителя</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.position_head }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col5">
                            <div class="lists-table__box">
                                <p class="text head-text">ФИО руководителя</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.fio_head }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col6">
                            <div class="lists-table__box">
                                <p class="text head-text">Телефоны</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a>{{ i.telephone |truncatewords:2}}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col7">
                            <div class="lists-table__box">
                                <p class="text head-text">Почты</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a>{{ i.mail |truncatewords:2 |urlize }}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col8">
                            <div class="lists-table__box">
                                <p class="text head-text">Сайты</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">
                                    <a> {{i.website | truncatechars:25 |urlize }}</a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="lists-table__col" data-col="col9">
                            <div class="lists-table__box">
                                <p class="text head-text">Источники данных</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{% for f in i.data_source %} {{ f }}{% endfor %}</p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="lists-table__col" data-col="col10">
                            <div class="lists-table__box">
                                <p class="text head-text">ОКВЭД</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.activity_type_code }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col11">
                            <div class="lists-table__box">
                                <p class="text head-text">Выручка</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.revenue }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col12">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по электронной почте</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.email_newsletter }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col13">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по почте</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.mail_newsletter }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col14">
                            <div class="lists-table__box">
                                <p class="text head-text">Рассылка по смс</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.sms_mailing }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="lists-table__col" data-col="col15">
                            <div class="lists-table__box">
                                <p class="text head-text">Звонки</p>
                            </div>
                            {% for i in InNewsletter %}
                            <div class="lists-table__box">
                                <p class="text">{{ i.the_bell }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}