<span style="font-size: 12px;
            display: block;
            font-family: 'Verdana',sans-serif;
            color: rgb(0, 0, 0);
            line-height: 1.4; max-width: 600px;
            margin: 0 auto;">
    <!--ШАПКА-->
    <span style="padding:10px 15px; height: 36px; display: block; background-color: #fcfcfc;">
        <a style="display: block;width: 246px; height: 36px;" >
            <img style="display: block;width: 246px; height: 36px;"
                src="https://mosproektkompleks.ru/images/email/logo.png" alt="">
        </a>
    </span>
    <!--КОНТЕНТ-->
    <!--1 БЛОК-->
    <span
        style="padding:30px 15px; display: block; background: url(https://mosproektkompleks.ru/images/email/logo_shapka.png) bottom right/contain no-repeat; background-color: #fcfcfc;">
        <span style=" display: block;">
            Уважаемая,</span>
        <span style="display: block;  font-size: 21px;margin: 10px 0 40px;">
            Анна Викторовна!</span>
        <span style="display: block;">
            Появились новые программы согласно №819-ПП Москвы по&nbsp;исключению
            объектов, обладающих признаками самовольного строительства, это&nbsp;происходит, в&nbsp;том числе
            благодаря
            <span style="font-weight: 700;">
                новым методам оформления буклета архитектурно градостроительного решения (АГР) и&nbsp;заключения
                о&nbsp;соответствии (ЗОС)</span> при&nbsp;легализации самовольной постройки</span>
    </span>
    <!--2 БЛОК-->
    <span style="display: block;padding:30px 15px;background-color: #f6f6f6;">
        <span>
            И&nbsp;мы&nbsp;обязуемся дать Вам свои рекомендации к&nbsp;выбору надежного сотрудничества,
            исходя от нарастающей
            <span style="font-weight: 700;">
                статистики Госинспекции по&nbsp;недвижимости (ГИН) </span>
            по&nbsp;выявлению признаков самовольного строительства:</span>
        <span style="margin-top: 30px;display: block;">
            <span style="margin-right: 15px;
                            white-space: nowrap;
                            font-weight: bold;">Цифры</span>
        </span>
        <span style="margin-top: 10px;
                        display: block;">
            За&nbsp;2022&nbsp;год было демонтировано свыше 2700&nbsp;тысячи нелегальных построек общей
            площадью 575&nbsp;000&nbsp;м2
        </span>
        <span>

            <span style="display: block;margin-top: 30px;">
                <span style="margin-right: 10px;
                                white-space: nowrap;
                                font-weight: bold;">Инновационные технологии</span>
            </span>
        </span>
        <span style="display: block;
                            margin-top: 10px;">
            Теперь нарушения фиксируются все&nbsp;более инновационными технологиями:
            роботами, квадрокоптерами, камерами городского видеонаблюдения, программными
            алгоритмами, нейронными сетями, проводящие мониторинг баз&nbsp;БТИ, ЕГРН,
            ИС&nbsp;РЕОН и&nbsp;т.д.</span>
        <span style="display: block;margin-top: 30px;">
            <span style="margin-right: 15px;
                                white-space: nowrap;
                                font-weight: bold;">
                Планы</span>
        </span>
        <span style="display: block;
                            margin-top: 15px;">
            В&nbsp;планах на 2023 год у&nbsp;инспекции не&nbsp;только продолжить ликвидацию незаконных
            строений, но&nbsp;и&nbsp;усилить профилактическую работу и&nbsp;нарастить темпы выявления
            самостроя </span>
    </span>
    <!--3 БЛОК-->
    <span style="padding:30px 15px;background-color: #fcfcfc;display: block;">
        <span>
            По&nbsp;результатам проверки общедоступных информационных ресурсов на&nbsp;сервисах
            Госинспекции по&nbsp;недвижимости (ГИН) по&nbsp;выявлению признаков самовольного
            строительства в&nbsp;отношении объекта по&nbsp;адресу:
            <span style="color: rgb(199, 25, 32);">г. Москва, Холодильный
                переулок,&nbsp;д.&nbsp;3</span>
            <span style="font-weight: 700;"> предлагаем Вам комплекс услуг по&nbsp;его&nbsp;сохранению:</span>
        </span>
        <span style="display:block;margin-top: 30px;">
            <span style="font-weight: 700; display: block;margin-right: 10px;float:left;">1</span>
            <img style="margin: 2px 10px 0 0;float: left;" src="https://mosproektkompleks.ru/images/email/arrow.png"
                alt="">
            <span style="display: block; padding-left: 50px;">Подготовка пакета документации для прохождения процедуры
                легализации в&nbsp;Госинспекции по недвижимости и&nbsp;амнистии объекта в&nbsp;досудебном порядке</span>
        </span>
        <span style="display:block;margin-top: 30px;">
            <span style="font-weight: 700; display: block;margin-right: 10px;float:left;">2</span>
            <img style="margin: 2px 10px 0 0;float: left;" src="https://mosproektkompleks.ru/images/email/arrow.png"
                alt="">
            <span style="display: block; padding-left: 50px;">Выполнение досудебного обследования с&nbsp;дефектной
                ведомостью
                и&nbsp;рекомендациями по&nbsp;устранению нарушений в&nbsp;ходе подготовки
                к&nbsp;судебным заседаниям</span>
        </span>
        <span style="display:block;margin-top: 30px;">
            <span style="font-weight: 700; display: block;margin-right: 10px;float:left;">3</span>
            <img style="margin: 2px 10px 0 0;float: left;" src="https://mosproektkompleks.ru/images/email/arrow.png"
                alt="">
            <span style="display: block; padding-left: 50px;">Проведение независимой строительно-технической экспертизы
                для&nbsp;судебных заседаний </span>
        </span>
        <span style="display:block;margin-top: 30px;">
            <span style="font-weight: 700; display: block;margin-right: 10px;float:left;">4</span>
            <img style="margin: 2px 10px 0 0;float: left;" src="https://mosproektkompleks.ru/images/email/arrow.png"
                alt="">
            <span style="display: block; padding-left: 50px;">Рецензирование экспертизы и подготовка проектной
                документации
                в&nbsp;рамках исполнения протокола Градостроительно-земельной
                комиссии (ГЗК) или&nbsp;судебного решения</span>
        </span>
    </span>
    <!--4 БЛОК-->
    <span style="display: block;padding:30px 15px;background-color: rgb(246, 246, 246);">
        <span style="display: block;">
            <span style="margin-right: 5px;color: rgb(199, 25, 32);  white-space: nowrap;">Получить бесплатную
                консультацию</span>
            <a href="tel:79251500055" style="color: rgb( 199 , 25 , 32 );
                                            white-space: nowrap;
                                            float: right;
                                            display: inline-block;"> +7 (925) 150-00-55</a>
        </span>
        <span
            style="display: block;margin: 30px 0;height: 1px; background-color: rgb(218, 218, 218);  width: 100%;">&nbsp;</span>

        <span style="display: block;margin-top: 30px;margin-bottom: 8px;font-weight: 700;">«Моспроекткомплекс»</span>
        <span>
            Во&nbsp;время стремительных развитий событий Моспроекткомплекс сохранил
            лидирующие позиции в&nbsp;сфере Легализации самостроя, технического обследования
            зданий и&nbsp;сооружений и&nbsp;перепланировки нежилых помещений. Компания обладает
            укомплектованным штатом ведущих инженеров-конструкторов, архитекторов,
            судебных экспертов, кадастровых инженеров, геодезистов и&nbsp;оценщиков, которые
            показали великолепные результаты проектов среди крупнейших объектов страны
            и&nbsp;узаконили и&nbsp;спасли от&nbsp;сноса более 300 объектов общей площадью свыше
            370&nbsp;000&nbsp;м²</span>

        <span style="display: block;margin-top: 30px;margin-bottom: 8px;font-weight: 700;">Перечень
            Сертификатов и&nbsp;аккредитации</span>
        <span style="display: block; margin-top: 8px;">1. СРО проектирование</span>
        <span style="display: block; margin-top: 8px;">2. СРО инженерные изыскания</span>
        <span style="display: block; margin-top: 8px;">3. Росаккредитация на&nbsp;экспертизу результатов инженерных
            изысканий</span>
        <span style="display: block; margin-top: 8px;">4. Росаккредитация на&nbsp;экспертизу проектной
            документации</span>
        <span style="display: block; margin-top: 8px;">5. Лицензия Министерства Культуры РФ</span>
        <span style="display: block; margin-top: 8px;">6. Лицензия МЧС</span>
        <span style="display: block; margin-top: 8px;">7. Аттестация строительной испытательной
            лаборатории</span>
        <span style="display: block; margin-top: 8px;">8. Аттестация системы менеджмента качества</span>
        <span style="display: block;margin-top: 30px;margin-bottom: 15px;font-weight: 700;">Надеемся
            на&nbsp;плодотворное сотрудничество и&nbsp;выражаем готовность оказать экспертную помощь!
        </span>


        <span style="display: block;margin-top: 50px;">
            <span style="display: block;float: left;margin-top: 25px;">
                <span style="margin-bottom: 10px;margin-right: 10px;display: block;">С наилучшими
                    пожеланиями,</span>
                <span style="display: block;">Генеральный директор<br>
                    ООО «Моcпроекткомплекс»<br>
                    Ширинов З.В.</span>
            </span>
            <img style="height:auto;width:140px" src="https://mosproektkompleks.ru/images/email/podpis.png" alt="">
            </img>
        </span>
    </span>
    <!--ПОДВАЛ-->
    <span style=" background-color: rgb(0, 0, 0); padding: 30px 15px; display: block;  min-height: 120px;  ">
        <a style="border-radius: 50px;
                        color: rgb( 211 , 211 , 211 );
                        font-size: 14px;
                        height: 40px;
                        margin: 0 auto 0 auto;
                        text-decoration: none;
                        text-align: center;
                        border: 1px solid #fff;
                        white-space: nowrap;
                        display: block;
                        padding: 9px 0px;
                        width: 209px;
                        box-sizing: border-box;" href="https://mosproektkompleks.ru/">Перейти на наш сайт</a>

        <span style="display: block;
                        margin-top: 40px;   
                     color: rgb(211, 211, 211);
                        line-height: 1.5;">
            <span style="display: inline-block;">
                <span>Телефон: </span>
                <span style="display: inline-block;margin-left: 5px;">
                    <a href="tel:79251500055" style="color: rgb(211, 211, 211); text-decoration: none;">+7 (925)
                        150-00-55</a>
                    <span style="display:  inline-block; margin-top: 3px;"> (WhatsApp /
                        Telegram)</span>
                </span>
            </span>
            <span style="display:block; white-space: nowrap;margin-top: 3px;">
                <span style="display: block;">
                    <span>Email: </span>
                    <a href="mailto:zakaz@mosproektkompleks.ru"
                        style=" color: rgb(211, 211, 211); text-decoration: none;margin-left: 27px;">zakazmk@mosproektkompleks.ru
                    </a>
                </span>
                <span style="display: block;
                            margin-top: 3px;">
                    <span>Адрес:</span>
                    <span style="margin-left: 23px;">Москва, ул. Корабельная, 9А</span>
                </span>
            </span>
        </span>
    </span>
</span>