{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}
{#    <form action="static/dbServer/js/main.js" method="post">#}

    <div class="courts court">
        <div class="mailers-btns">
            <button class="court-btn main-btn" id="letter">
                Создать письмо
            </button>
            <button class="court-btn main-btn" id="sendBX" onclick="addInSender()">
                добавить в рассылку
            </button>
            <button class="court-btn main-btn" id="sendBX" >
                Отправить тестовое письмо
            </button>
{#            <button>#}
{#                Отправить в Битрикс24#}
{#            </button>#}
        </div>
    <div class="mail-wrap">
        <table class="infoTable info_court" cellspacing="0" cellpadding="0">

                <tr>
                    <th > <label for="check">
                        <input id="checkAllMail" type="checkbox" onchange="checkAll(this)">
                        <span></span>
                    </label>
                    </th >
                    {% for j in names %}
                        <th >{{ j }}</th>
                    {% endfor %}
                    <th>email</th>
                </tr>


                {% for i in Companies %}
                <tr>


                <td>
                    <label for="check">
                        <input  type="checkbox" value="{{ i.id}},{{ i.template}},{{ i.contacts }}">
                        <span></span>
                    </label>
                </td>

                   <td >{{ i.id}}</td>
                    <td >{{ i.template }}</td>
                    <td >{{ i.quantity }}</td>
                    <td >{{ i.date_creation }}</td>
                    <td >{{ i.date_dispatch }}</td>
                    <td >{{ i.fio }}</td>
                    <td >{{ i.status}}</td>
                    {% for j in i.contacts %}
                        <td >
                            {% for f in j %}
{#                                вот тут поправить #}
                                {{ f }}<br>
                            {% endfor %}
                        </td>
                        {% endfor %}
                </tr>
                {% endfor %}

        </table>
    </div>
    </div>
{% endblock %}