{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}
<div class="main-content content">
    <div class="court content-inner">
        <a class="court-prev prev arrow" href="{% url 'home' %}">
            <img src="{% static 'dbServer/images/arr-left.png' %}" alt="">
        </a>
        <div class="court-wrap content-wrap">
            <div class="court-left content-left">
                <div class="top-item court-top__num">А40-257975/2021</div>
                <div class="court-inner__info">
                    <div class="company-inner__id text">id: <span>{{ title }}</span></div>
                    <div class="tabs">
                        <div class="tabs-item text tabs-item--active" data-tabs="answers">Ответчик</div>
                        <div class="tabs-item text" data-tabs="plaintiff">Истец</div>
                        <div class="tabs-item text" data-tabs="court-obj">Объект</div>
                        <div class="tabs-item text" data-tabs="questions">Вопросы</div>
                    </div>
                </div>
                <div class="court-inner__item tab-content answers active" data-tab="answers">
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">ИНН</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.inn_company }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Юр. Адрес</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.legal_address}}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Должность руководителя</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.position_head }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">ФИО руководителя</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.fio_head }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Телефон</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">
                            <p class="text">{{ Companies.telephone }}</p>
                            </p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Почта</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">
                                {{ Companies.mail |urlize }}
                            </p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Сайт</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.website |urlize }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Вид деятельности</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.activity_type_code }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Оборот компании</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.revenue }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Количество сотрудников</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.number_employees }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Дата регистрации компании</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ Companies.timestamp }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Кол-во объектов в собственности</p>
                        </div>
                        <div class="court-table__item">
                            {% if Companies.number_object_owned %}
                            <p class="text">{{ Companies.number_object_owned }}</p>
                            {%else%}
                            <p class="text">0</p>
                            {%endif%}
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Кол-во объектов в аренде</p>
                        </div>
                        <div class="court-table__item">
                            {% if Companies.number_object_rent %}
                            <p class="text">{{ Companies.number_object_rent }}</p>
                            {%else%}
                            <p class="text">0</p>
                            {%endif%}
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Кол-во ЗУ в собственности</p>
                        </div>
                        <div class="court-table__item">
                            {% if Companies.number_land_owned %}
                            <p class="text">{{Companies.number_land_owned}}</p>
                            {%else%}
                            <p class="text">0</p>
                            {%endif%}
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Кол-во ЗУ в аренде</p>
                        </div>
                        <div class="court-table__item">
                            {% if Companies.number_land_rent %}
                            <p class="text">{{Companies.number_land_rent}}</p>
                            {%else%}
                            <p class="text">0</p>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="court-inner__item tab-content court-plaintiff" data-tab="plaintiff">
                    Истец
                </div>
                <div class="court-inner__item tab-content court-obj" data-tab="court-obj">
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Адрес объекта</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Кадастровый номер</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{}}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Площадь объекта</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ }}</p>
                        </div>
                    </div>
                    <div class="court-table__row">
                        <div class="court-table__item">
                            <p class="text">Вид объекта</p>
                        </div>
                        <div class="court-table__item">
                            <p class="text">{{ }}</p>
                        </div>
                    </div>
                </div>
                <div class="court-inner__item tab-content court-questions" data-tab="questions">
                    <div class="court-questions__box">
                        <p class="text">1. В результате каких работ (новое строительство, реконструкция)
                            возникли
                            помещения
                            пристройки (пом. VII, ком. 1,2) и подвала (пом. I, ком.72) общей площадью 59,1 кв.м.
                            здания по адресу: г. Москва, Строгинский б-р, д.21 (согласно технической
                            документации
                            МосгорБТИ: на 21.10.2002, 05.03.2002, 15.04.2019, 16.02.2016, 10.06.2008 и на
                            26.04.2012)?</p>
                        <p class="text">2. В случае, если помещения пристройки (пом. VII, ком. 1,2) и подвала
                            (пом.
                            I,
                            ком.72)общей
                            площадью 59,1 кв.м. здания по адресу: г. Москва, Строгинский б-р, д.21 образовались
                            в
                            результате работ по реконструкции, возможно ли технически привести здание путем
                            демонтажа образованных помещений в первоначальное состояние (в соответствии с
                            документами МосгорБТИ на 05.03.2002) и какие для этого необходимо провести
                            мероприятия?</p>
                        <p class="text">3. В результате установленных по вопросу 1 работ изменились ли
                            индивидуально-определенные
                            признаки (высота, площадь, этажность, площадь застройки, объем) здания (его частей)
                            по
                            адресу: г. Москва, Строгинский б-р, д.21?</p>
                        <p class="text">4. Какие помещения и какой площадью возникли в результате установленных
                            по\Pвопросу 1
                            работ
                            в здании по адресу: г. Москва, Строгинский б-р, д.21? Являются ли указанные
                            помещения
                            капитальными, перемещение которых без несоизмеримого ущерба их назначению
                            невозможно?</p>
                    </div>
                </div>
            </div>
            <div class="court-right content-right">
                <div class="court-inner__item tab-content answers active" data-tab="answers">
                    <p class="top-item">История взаимодействия</p>
                    <div class="answers__month content-block">
                        <p class="answers__box text content-box">Июль, 2023</p>
                    </div>
                    <div class="answers__item content-item">
                        <p class="answers__date text content-date"><span>19.07.2023</span><span>11:20</span>
                        </p>
                        <p class="answers__box text content-box">Исходящее письмо с
                            <a href="mailto:rep123@mosproektkompleks.ru">rep123@mosproektkompleks.ru</a> на
                            электронный
                            ящик <a href="mailto:info@madelon.ru"> info@madelon.ru</a>
                        </p>
                    </div>
                    <div class="answers__item content-item">
                        <p class="answers__date text content-date"><span>19.07.2023</span><span>11:20</span>
                        </p>
                        <p class="answers__box text content-box">Создано письмо для отправки на адрес:
                            107113,
                            г. Москва, ул. Сокольнический Вал, д. 8</p>
                    </div>
                </div>
                <div class="court-inner__item tab-content court-plaintiff" data-tab="plaintiff">
                    <div class="top-item court-top__plaintiff">История</div>
                    <div class="court-plaintiff__wrap">
                        <p class="court-plaintiff__item text">Кадастровый номер<span>77:03:0001001:2879</span>
                        </p>
                        <p class="court-plaintiff__item text">Вид объекта<span>Помещение</span></p>
                        <p class="court-plaintiff__item text">Вид права<span>Собственность</span></p>
                        <p class="court-plaintiff__item text">№ регистрации
                            права<span>77-01/04-1023/2004-741</span></p>
                        <p class="court-plaintiff__item text">ФИО правообладателя<span>-</span></p>
                        <p class="court-plaintiff__item text">Название правообладателя<span>Общество с
                                ограниченной ответственность “МАДЕЛОН”</span></p>
                    </div>
                    <button class="court-plaintiff__btn main-btn" id="">Открыть выписку объекта</button>
                </div>
                <div class="court-inner__item tab-content court-obj history" data-tab="court-obj">
                    <p class="top-item court-top__materials">История</p>
                    <div class="history-block content-block">
                        <p class="history-box text content-box black">Электронное дело</p>
                        <p class="history-box text content-box">История взаимодействия</p>
                    </div>
                    <div class="history-item content-item">
                        <div class="history-date text content-date">
                            <p>09.01.2023</p>
                        </div>
                        <div class="history-box text content-box">
                            <p>АС города Москвы, Романенкова С. В.</p>
                            <p> Об оставлении искового заявления (заявления) без движения</p>
                        </div>
                    </div>
                    <div class="history-item content-item">
                        <div class="history-date text content-date">
                            <p>30.01.2023</p>
                        </div>
                        <div class="history-box text content-box">
                            <p>АС города Москвы, Романенкова С. В.</p>
                            <p>Об оставлении искового заявления (заявления) к производству</p>
                        </div>
                    </div>
                    <div class="history-item content-item">
                        <div class="history-date text content-date">
                            <p>20.03.2023</p>
                        </div>
                        <div class="history-box text content-box">
                            <p>АС города Москвы, Романенкова С. В.</p>
                            <p> Об отказе в принятии обеспечительных (предварительных обеспечительных)
                                мер</p>
                        </div>
                    </div>
                    <div class="history-item content-item">
                        <div class="history-date text content-date">
                            <p>15.06.2023</p>
                        </div>
                        <div class="history-box text content-box">
                            <p>АС города Москвы, Романенкова С. В.</p>
                            <p> О назначении дела к судебному разбирательству </p>
                        </div>
                    </div>
                </div>
                <div class="court-inner__item tab-content court-questions" data-tab="questions">
                    <div class="top-item court-top__materials">История</div>
                    <div class="court-materials__wrap">
                        <div class="history-block content-block">
                            <p class="history-box text content-box black">Электронное дело</p>
                            <p class="history-box text content-box">История взаимодействия</p>
                        </div>
                        <div class="history-item content-item">
                            <div class="history-date text content-date">
                                <p>09.01.2023</p>
                            </div>
                            <div class="history-box text content-box">
                                <p>АС города Москвы, Романенкова С. В.</p>
                                <p> Об оставлении искового заявления (заявления) без движения</p>
                            </div>
                        </div>
                        <div class="history-item content-item">
                            <div class="history-date text content-date">
                                <p>30.01.2023</p>
                            </div>
                            <div class="history-box text content-box">
                                <p>АС города Москвы, Романенкова С. В.</p>
                                <p>Об оставлении искового заявления (заявления) к производству</p>
                            </div>
                        </div>
                        <div class="history-item content-item">
                            <div class="history-date text content-date">
                                <p>20.03.2023</p>
                            </div>
                            <div class="history-box text content-box">
                                <p>АС города Москвы, Романенкова С. В.</p>
                                <p> Об отказе в принятии обеспечительных (предварительных обеспечительных)
                                    мер</p>
                            </div>
                        </div>
                        <div class="history-item content-item">
                            <div class="history-date text content-date">
                                <p>15.06.2023</p>
                            </div>
                            <div class="history-box text content-box">
                                <p>АС города Москвы, Романенкова С. В.</p>
                                <p> О назначении дела к судебному разбирательству </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}