{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}


    <div class="courts court">
        <div class="mailers-btns">
            <button class="court-btn main-btn" id="letter">
                Создать письмо
            </button>
            <button class="court-btn main-btn" id="sendBX" onclick="addInSender()">
                добавить в рассылку
            </button>
{#            <button>#}
{#                Отправить в Битрикс24#}
{#            </button>#}
        </div>
        <div class="court-wrap">
            <table class="court-table-main">

                <tr>
                    <th >
                        <label for="check">
                        <input id="checkAllCourt" type="checkbox" onchange="checkAll(this)">
                        <span></span>
                    </label>
                    </th >
                    {% for j in names %}
                        <th ><p class="text">{{ j }}</p></th>
                    {% endfor %}
                        <th><p class="text">email</p></th>
                </tr>


                {% for i in Companies %}
                    <tr>
                        <td >
                        <label for="check">
                        <input id="checkAllMail" type="checkbox" value="{{ i.id}},{{ i.template}},{{ i.contacts }}">
                        <span></span>
                        </td>
                        <td > <p class="text">{{ i.id}}</p></td>
                        <td ><p class="text">{{ i.template }}</p></td>
                        <td ><p class="text">{{ i.quantity }}</p></td>
                        <td ><p class="text">{{ i.date_creation }}</p></td>
                        <td ><p class="text">{{ i.date_dispatch }}</p></td>
                        <td ><p class="text">{{ i.fio }}</p></td>
                        <td ><p class="text">{{ i.status}}</p></td>
                        {% for j in i.contacts %}
                            <td >
                                {% for f in j %}
    {#                                вот тут поправить #}
                                    <p class="text">{{ f }}</p><br>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}