{% extends 'dbServer/pattern.html' %}
{% block body %}
{% load static %}
<div class="main-content content">
    <div class="courts court mail-wrap">
        <div class="mailers-btns">
            <button class="court-btn main-btn" id="letter">Создать письмо</button>
            <button class="court-btn main-btn" id="sendBX">Отправить в Битрикс24</button>
        </div>
            <div class="court-table-main table" id="table">
                <div class="lists-table__col">
                    <div class="lists-table__box">
                        <label for="check">
                            <input class="checkAllInput" id="checkAll" type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="lists-table__box">
                        <label for="check">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="lists-table__col lists-table__col-name">
                    <div class="lists-table__box lists-table__box-name">
                        <div class="toggle-col">
                            <ul class="toggle-col__list">
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" disabled checked>
                                        <span class="text">Номер дела</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col2">
                                        <span class="text">Номер письма</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col3">
                                        <span class="text">Истец</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col4">
                                        <span class="text">Ответчик</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col5">
                                        <span class="text">Судья</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col6">
                                        <span class="text">Статус дела</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col7">
                                        <span class="text">Ответственный</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col8">
                                        <span class="text">Статус</span>
                                    </label>
                                </li>
                                <li class="toggle-col__li">
                                    <label>
                                        <input type="checkbox" checked id="col9">
                                        <span class="text">Ссылка на дело</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <p class="text head-text">Номер дела</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">
                            <a class="court-name" href="./court_info.html">А40-257975/2021</a>
                        </p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col2">
                    <div class="lists-table__box">
                        <p class="text head-text">Номер письма</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">ССЭ/20230717</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col3">
                    <div class="lists-table__box">
                        <p class="text head-text">Истец</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">Департамент городского имущества города Москвы</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col4">
                    <div class="lists-table__box">
                        <p class="text head-text">Ответчик</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">ООО “Люблино девелопмент”</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col5">
                    <div class="lists-table__box">
                        <p class="text head-text">Судья</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">Романенкова С. В.</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col6">
                    <div class="lists-table__box">
                        <p class="text head-text">Статус дела</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">О назначении дела к судебному разбирательству</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col7">
                    <div class="lists-table__box">
                        <p class="text head-text">Ответственный</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">Степанова Виталий Александрович</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col8">
                    <div class="lists-table__box">
                        <p class="text head-text">Статус</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">Отправлено</p>
                    </div>
                </div>
                <div class="lists-table__col" data-col="col9">
                    <div class="lists-table__box">
                        <p class="text head-text">Ссылка на дело</p>
                    </div>
                    <div class="lists-table__box">
                        <p class="text">
                            <a href="#">Открыть дело</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}