{% extends 'dbServer/pattern.html' %}
{% block name %} {{ title }}{% endblock %}
{% block body %}

    <div class="courts court">
        <div class="mailers-btns">
           <button class="court-btn main-btn" id="letter" onclick="addInSender()">
                Добавить в почтовую рассылку
            </button>
            <button  class="court-btn main-btn" id="sendBX" onclick="NewRow()">
                Создать письма
            </button>
            <button class="court-btn main-btn" id="sendBX" onclick="createLabels()" >
                Создать наклейки
            </button>
        </div>
         <table class="infoTable info_court" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th > <label for="check">
                        <input id="checkAllMail" type="checkbox" onchange="checkAll(this)">
                        <span></span>
                    </label>
                    </th >
                    {% for j in names %}
                        <th >{{ j }}</th>
                    {% endfor %}
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {% for i in Companies %}
                <tr>
                                   <td>
                    <label for="check">
                        <input type="checkbox" value="{{ i.id}},{{ i.template}},{{ i.contacts }}">
                        <span></span>
                    </label>
                </td>
                   <td >{{ i.id}}</td>
                    <td >{{ i.template }}</td>
                    <td >{{ i.quantity }}</td>
                    <td >{{ i.date_creation }}</td>
                    <td >{{ i.date_dispatch }}</td>
                    <td >{{ i.fio }}</td>
                    <td >{{ i.status}}</td>
                    {% for j in i.contacts %}
                        <td >
                            {% for f in j %}
{#                                вот тут поправить #}
                                {{ f }}<br>
                            {% endfor %}
                        </td>
                        {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}