<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Mosproekkompleks</title>
</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <a class="header-logo__link" href="/">
                <img class="header-logo__icon" src="../../static/img/logo.png" alt="logo">
            </a>
            <form class="header-form form" action="" method="get">
                <input class="header-input input" type="text" placeholder="Поиск и фильтр">
                <button class="header-btn form-btn" type="submit"></button>
            </form>
        </div>
    </header>
    <main class="main">
        <div class="overlay">
            <div class="popup">
                <span></span>
                <form class="form" action="" method="get">
                    <input class="input" type="text" placeholder="Поиск и фильтр">
                    <button class="form-btn" type="submit"></button>
                </form>
                <div class="popup-wrap">
                    <div class="popup-item popup-left">
                        <div class="popup-name text">Не в рассылке</div>
                        <div class="lists-table table">
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <label for="check">
                                        <input id="checkAllCompaniesAdd" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="lists-table__box">
                                    <label for="check">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Наименование компании</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a class="text lists-name" href="../dbServer/company_info.html">ООО
                                            “МАДЕЛОН”</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">ИНН</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">7703345160</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Юр адрес</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">107113, г. Москва,
                                        ул. Сокольнический Вал, д. 8</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Должность руководителя</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">Генеральный директор</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">ФИО руководителя</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">Степанов Виталий Александрович</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Телефон</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="tel:74956033007">+74956033007</a><br>
                                        <a href="tel:74956033006">+74956033006</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Почта</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="callsto:info@madelon.ru">info@madelon.ru</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Сайт</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="//madelon.ru">http://madelon.ru</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-item popup-right">
                        <div class="popup-name text">В рассылке</div>
                        <div class="lists-table table">
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <label for="check">
                                        <input id="checkAllCompaniesRemove" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="lists-table__box">
                                    <label for="check">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Наименование компании</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a class="text lists-name" href="../dbServer/company_info.html">ООО
                                            “МАДЕЛОН”</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">ИНН</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">7703345160</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Юр адрес</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">107113, г. Москва,
                                        ул. Сокольнический Вал, д. 8</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Должность руководителя</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">Генеральный директор</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">ФИО руководителя</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">Степанов Виталий Александрович</p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Телефон</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="tel:74956033007">+74956033007</a><br>
                                        <a href="tel:74956033006">+74956033006</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Почта</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="callsto:info@madelon.ru">info@madelon.ru</a>
                                    </p>
                                </div>
                            </div>
                            <div class="lists-table__col">
                                <div class="lists-table__box">
                                    <p class="text head-text">Сайт</p>
                                </div>
                                <div class="lists-table__box">
                                    <p class="text">
                                        <a href="//madelon.ru">http://madelon.ru</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <nav>
                <ul class="sidebar-menu menu">
                    <li class="menu-li">
                        <a class="menu-link" href="#">
                            <img src="../../static/img/monitor.png" alt="">Рабочий стол</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/companies.html">
                            <img src="../../static/img/burger.png" alt="">Списки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/objects.html">
                            <img src="../../static/img/object.png" alt="">Объекты</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../court/courts.html">
                            <img src="../../static/img/court.png" alt="">Суд</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/email.html">
                            <img src="../../static/img/email.png" alt="">Email</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/mail.html">
                            <img src="../../static/img/post.png" alt="">Почта</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../mailers/sms.html">
                            <img src="../../static/img/sms.png" alt="">СМС</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link active" href="../mailers/calls.html">
                            <img src="../../static/img/phone.png" alt="">Звонки</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/analitycs.html">
                            <img src="../../static/img/analytics.png" alt="">Аналитика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/economy.html">
                            <img src="../../static/img/economycs.png" alt="">Экономика</a>
                    </li>
                    <li class="menu-li">
                        <a class="menu-link" href="../dbServer/settings.html">
                            <img src="../../static/img/settings.png" alt="">Настройки</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content content">
            <div class="calls">
                <div class="mailers-btns__wrap">
                    <div class="mailers-btns">
                        <button class="calls-btn main-btn popup-btn" id="calls">+ Добавить обзвон</button>
                        <button class="calls-btn main-btn" id="sendMailing">Произвести обзвон</button>
                    </div>
                    <div class="mailers-btns__box">
                        <button class="mailers-btn main-btn" id="sendTestcalls">Сделать тестовый звонок</button>
                        <input class="mailers-input" type="text" placeholder="Введите телефон">
                    </div>
                </div>
                <div class="calls-wrap">
                    <div class="calls-table-main table" id="table">
                        <div class="lists-table__col">
                            <div class="lists-table__box">
                                <label for="check">
                                    <input id="checkAllAddCalls" type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                            <div class="lists-table__box">
                                <label for="check">
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="lists-table__col">
                            <div class="lists-table__box lists-table__box-name">
                                <div class="filter-col">
                                    <ul class="filter-col__list">
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" disabled checked>
                                                <span class="text">Наименование рассылки</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col2">
                                                <span class="text">Шаблон</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col3">
                                                <span class="text">Кол-во писем</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col4">
                                                <span class="text">Дата создания</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col5">
                                                <span class="text">Дата отправки</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col6">
                                                <span class="text">Ответственный</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col7">
                                                <span class="text">Статус</span>
                                            </label>
                                        </li>
                                        <li class="filter-col__li">
                                            <label>
                                                <input type="checkbox" checked id="col8">
                                                <span class="text">Привязанные контакты</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <p class="text head-text">Наименование <br>рассылки</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">1</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col2">
                            <div class="lists-table__box">
                                <p class="text head-text">Шаблон</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">Легализация самостроя</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col3">
                            <div class="lists-table__box">
                                <p class="text head-text">Кол-во писем</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">1593</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col4">
                            <div class="lists-table__box">
                                <p class="text head-text">Дата создания</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">12.05.2023</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col5">
                            <div class="lists-table__box">
                                <p class="text head-text">Дата отправки</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">17.05.2023</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col6">
                            <div class="lists-table__box">
                                <p class="text head-text">Ответственный</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">Степанов Виталий Александрович</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col7">
                            <div class="lists-table__box">
                                <p class="text head-text">Статус</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">Отправлено</p>
                            </div>
                        </div>
                        <div class="lists-table__col" data-col="col8">
                            <div class="lists-table__box">
                                <p class="text head-text">Привязанные контакты</p>
                            </div>
                            <div class="lists-table__box">
                                <p class="text">
                                    <a href="callsto:zak.2@mosproektkompleks.ru">zak.2@mosproektkompleks.ru</a>, <br>
                                    <a href="tel:84951500563">8(495)150-05-63</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../static/col-resize.min.js"></script>
    <script src="../../static/script.js"></script>
</body>

</html>